.societies{
	width: 100vw;
	z-index: 0;
}
.societies-content{
	padding:15vh 5.625vw 5vh 11.875vw;
}
@media only screen and (orientation:portrait) {
    .societies-content{
    	padding:10vh 5vw;
    }
}