.loaderContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    height: 80px;
    width: 80px;
    display: flex;
    flex-flow: wrap;
}

.box {
    background: #3047FF;
    height: 30px;
    width: 30px;
    margin: 5px;
    animation: zoom 1s infinite;
}

@keyframes zoom {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
#container{
  width: 100vw;
}
#myContent {
 -moz-column-count: 3;
 -moz-column-gap: 1.875vw;
 -webkit-column-count: 3;
 -webkit-column-gap: 1.875vw;
 column-count: 3;
 column-gap: 1.875vw;
}
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
 #myContent {
 -moz-column-count: 5;
 -moz-column-gap: 48px;
 -webkit-column-count: 5;
 -webkit-column-gap: 48px;
 column-count: 5;
 column-gap: 48px;
 width: 1000px;
 }
 #container {
 position: absolute;
  right: 0;
  width: 97vw!important;
  margin: 0 auto;
 }
}
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
 #myContent {
 -moz-column-count: 3;
 -moz-column-gap: 0px;
 -webkit-column-count: 3;
 -webkit-column-gap: 0px;
 column-count: 2;
 column-gap: 0px;
 }
 #container {
  width: 100vw!important;
  margin: 0 auto;
 }
}
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
 #myContent {
 -moz-column-count: 2;
 -moz-column-gap: 0px;
 -webkit-column-count: 2;
 -webkit-column-gap: 0px;
 column-count: 2;
 column-gap: 0px;
 width: 600px;
 }
 #container {
 width: 600px;
 }
}
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
 #myContent {
 -moz-column-count: 1;
 -moz-column-gap: 0px;
 -webkit-column-count: 1;
 -webkit-column-gap: 0px;
 column-count: 1;
 column-gap: 0px;
 width: 100vw;
 }
 #container {
 width: 400px;
 }
}
