.mdc-drawer{
	display: flex;
	flex-direction: column;
	height: 99.5vh;
	width: 6.25vw!important;
	min-width: 60px;
	z-index: 1!important;
	position: fixed!important;
}
.mdc-drawer__header{
	height: 10vh;
	color: #B8C2CC;
	border-bottom: 1px solid #e4e4e4;
}
.mdc-drawer__header-content{
	width: 100%;
	justify-content: center;
	align-items: center!important;
}
.mdc-list{
	padding: 0!important;
}
.mdc-list-item{
	height: 10vh!important;
	justify-content: center!important;
	align-items: center!important;
	border-right: 0px solid #3047FF;
	transition: all 0.1s;
}
.active>.mdc-list-item{
	border-right:4px solid #3047FF;
}
.mdc-list-item:hover{
	color: #3047FF!important;
	cursor: pointer;
}
.mdc-list-item__text{
	height: 24px;
	width: 24px;
	color:#B8C2CC;
	transition: all 0.1s;
}
.active .mdc-list-item__text{
	color:#3047FF;
}
@media only screen and (orientation:portrait) {
    .mdc-drawer{
    	display: none!important;
    }
}
