@font-face{
  font-family: 'GT-Walsheim-Medium';
  src:url(../../assets/fonts/GT-Walsheim-Medium.eot);
  src:url(../../assets/fonts/GT-Walsheim-Medium.ttf),url(../../assets/fonts/GT-Walsheim-Medium.woff);
}
.mdc-toolbar{
	width: 93.75vw!important;
	position: fixed!important;
	z-index: 1!important;
	top:0!important;
	right: 0!important;
	background: #fff!important;
	color: rgba(0,0,0,.87)!important;
	border-bottom: 1px solid #e4e4e4;
}
.mdc-toolbar__row{
	height: 10vh!important;
	justify-content: center;
	align-items: center;
}
.mdc-toolbar__title{
	font-family: 'GT-Walsheim-Medium', Roboto, sans-serif!important;
}
@media only screen and (orientation:portrait) {
    .mdc-toolbar{
    	width: 100vw!important;
    }
}