.societies{
	width: 100vw;
	z-index: 0;
}
.societies-content{
	padding:15vh 7.5vw 15px 13.75vw;
}
@media only screen and (orientation:portrait) {
    .societies-content{
    	padding:15vh 0vw;
    }
}
