@font-face{
  font-family: 'GT-Walsheim-Medium';
  src:url(../../assets/fonts/GT-Walsheim-Medium.eot);
  src:url(../../assets/fonts/GT-Walsheim-Medium.ttf),url(../../assets/fonts/GT-Walsheim-Medium.woff);
}
@font-face{
  font-family: 'GT-Walsheim-Regular';
  src:url(../../assets/fonts/GT-Walsheim-Regular.eot);
  src:url(../../assets/fonts/GT-Walsheim-Regular.ttf),url(../../assets/fonts/GT-Walsheim-Regular.woff);
}
.card{
 	width: 360px;
 	margin:auto;
 	box-shadow: 0 3px 3px rgba(0,0,0,0.19);
 	background: #fff;
 	margin-bottom: 24px;
 	border-radius: 3px;
 	display: flex;
 	flex-flow: column;
}
.card-header{
	display: flex;
}
.icon{
	align-self: flex-start;
	justify-content: flex-start;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	background: black;
	margin:12px 12px 12px 24px;
}
.card-head{
	align-self: flex-start;
	justify-content: flex-start;
	margin:20px 6px 0px 0;
	width: 210px;
	color: #1B1D1F;
	line-height: 1;
	font-size: 16px;
	font-family: 'GT-Walsheim-Medium', Roboto, sans-serif!important;
	font-weight: 400;
}
.card-sub{
	justify-content: flex-start;
	margin:0;
	width: 210px;
	margin:0 6px 12px 0;
	font-size: 12px;
	font-family: 'GT-Walsheim-Regular', Roboto, sans-serif!important;
	font-weight: 200;
	color: #818D99;
}
.card-header__column3 .material-icons{
	padding: 16px;
	margin-top: 6px;
	color: #323232;
}
.card-divider{
	width: 360px;
	border-top: 0.5px solid #e4e4e4;
}
.card-desc{
	display: block;
	color: #818D99;
	font-size: 12px;
	font-family: 'GT-Walsheim-Regular', Roboto, sans-serif!important;
	font-weight: 100;
	padding:10px 24px 18px 24px;
	margin:0;
	line-height: 1.3;
	letter-spacing: 0.17px;
}
@media only screen and (max-width : 359px),
only screen and (max-device-width : 359px){
	.card{
		transform: scale(0.85);
		position: relative;
		left: -6.25vw;
		margin-bottom: 0;
	}
}