.mdc-drawer {
	display: flex;
	flex-direction: column;
	height: 99.5vh;
	width: 6.25vw!important;
	min-width: 60px;
	z-index: 1!important;
	position: fixed!important;
}

.mdc-drawer__header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0!important;
	height: 10vh;
	min-height: 64px;
	color: #B8C2CC;
	border-bottom: 1px solid #e4e4e4;
}

.mdc-drawer__header-content {
	width: 100%;
}

.mdc-list {
	padding: 0!important;
}

.mdc-list-item {
	height: 10vh!important;
	min-height: 64px;
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	border-right: 0px solid #3047FF;
	transition: all 0.1s;
	padding: 0!important;
	margin: 0!important;
}

.mdc-drawer__content a {
	text-decoration: none;
}

.mdc-drawer .mdc-list-item {
	color: #B8C2CC!important;
}

.active>.mdc-list-item {
	border-right: 4px solid #3047FF;
	color: #3047FF!important;
}

.mdc-list-item:hover {
	color: #3047FF!important;
	cursor: pointer;
}

@media only screen and (orientation:portrait) and(max-width:768px) {
	.mdc-drawer {
		display: none!important;
	}
}