.nearby{
	width: 100vw;
	z-index: 0;
}

.nearby-content{
	padding:15vh 7.5vw 15px 13.75vw;
}
@media screen and (orientation: portrait) {
  .nearby-content {
    padding: 13vh 0 6vh 0;
  }
  .card{
  	right: 0;
  	margin:auto!important;
  	margin-bottom: 24px!important;
  }
}